<table class="email-table">
  <tbody>
    <tr class="header-row">
      <td>
        <h1>Seja bem vindo(a)!</h1>
      </td>
    </tr>
    <tr class="body-row">
      <td>
        <p>Acesse o sistema kariri-sapuya com seu email e a senha é <%= @pass %>. Você pode alterá-la no primeiro acesso.</p>
      </td>
    </tr>
  </tbody>
</table>
