<%= form_with(model: glossary, local: true) do |form| %>
  <% if glossary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(glossary.errors.count, "error") %> prohibited this glossary from being saved:</h2>

      <ul>
      <% glossary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :indigenous_word %>
    <%= form.text_field :indigenous_word, id: :glossary_indigenous_word %>
  </div>

  <div class="field">
    <%= form.label :ethnicity %>
    <%= form.text_field :ethnicity, id: :glossary_ethnicity %>
  </div>

  <div class="field">
    <%= form.label :meaning_pt %>
    <%= form.text_field :meaning_pt, id: :glossary_meaning_pt %>
  </div>

  <div class="field">
    <%= form.label :meaning_en %>
    <%= form.text_field :meaning_en, id: :glossary_meaning_en %>
  </div>

  <div class="field">
    <%= form.label :sources %>
    <%= form.text_field :sources, id: :glossary_sources %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
