<% @title = I18n.t('views.glossaries') %>
<div>
  <h1>
    <%= "#{I18n.t('views.glossary')}" %>
  </h1>
</div>
<div class="alpha-pagination">
  <%= alphabetical_paginate @alphaParams %>
</div>
<% if @glossaries.present? %>
  <% @glossaries.each do |glossary| %>
    <div class="document-box">
      <h3><b><%= glossary.indigenous_word %></h3> <i><%= glossary.meaning %></i>
<br><small><%= glossary.sources %></small>
      <hr/>
    </div>
  <% end %>
<% else %>
  <div>
    <% if @none == false %>
      <h2> <%= I18n.t('views.no_glossaries') %> </h2>
    <% end %>
  </div>
<% end %>
<script>
$('.pagination > ul').click(function(e){
  console.log("clicked");
    location.reload()
        e.stopPropagation();
});
</script>
