<p id="notice"><%= notice %></p>

<p>
  <strong>Indigenous word:</strong>
  <%= @glossary.indigenous_word %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @glossary.ethnicity %>
</p>

<p>
  <strong>Meaning pt:</strong>
  <%= @glossary.meaning_pt %>
</p>

<p>
  <strong>Meaning en:</strong>
  <%= @glossary.meaning_en %>
</p>

<p>
  <strong>Sources:</strong>
  <%= @glossary.sources %>
</p>

<%= link_to 'Edit', edit_glossary_path(@glossary) %> |
<%= link_to 'Back', glossaries_path %>
