<%= form_with(model: narrative, local: true) do |form| %>
  <% if narrative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(narrative.errors.count, "error") %> prohibited this narrative from being saved:</h2>

      <ul>
      <% narrative.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
