<% @title = I18n.t('views.narratives') %>
<div>
  <h1>
    <%= "#{I18n.t('views.narrative').pluralize}" %>
  </h1>
</div>
<% if @narratives.present? %>
  <div>
    <%= paginate @narratives %>
  </div>
  <% @narratives.each do |narrative| %>
    <div class="document-box">
      <h3><%= link_to narrative.name, narrative %></h3>
      <hr/>
    </div>
  <% end %>
  <div>
    <%= paginate @narratives %>
  </div>
<% end %>
