<% @title = I18n.t('views.narratives') %>
<div class="container">
<h1><%= @narrative.name %></h1>
<%= social_share_button_tag(@narrative.name) %>
<p><a href="<%= narratives_path %>"><<</a></p>
<div><%= @narrative.content.html_safe %></div>
  <hr>
  <% if @narrative.documents.any? %>
    <div class="documents">
      <h4>
        <%= "#{I18n.t('views.document').pluralize(@document.count)}" %>
      </h4>
      <% narrative.documents.each_with_index do |document, i| %>
        <ul>
          <li><%= i %>:<%= link_to document.name, document.historical_account.url unless document.historical_account.url.nil? %></ul>
        <ul/>
        <% end %>
    </div>
  <% end %>
</div>
