  <div id="my_search">
    <form role="form" action="/search" id="search_form">
      <h1 class=""><%= t('views.documents') %></h1>
      <small><%= t('views.search_info') %></small>
      <input type="text" class="form-control"  id="search_input" name="keywords" placeholder="">
      <input type="hidden" class="form-control"  id="locale" name="locale" value="<%= I18n.locale %>">
      <br>
      <button class="btn btn-primary" id="search_button" type="submit"><%= t('views.search_go') %></button>
      <br>
    </form>
  </div>
