<% @title = I18n.t('views.documents') %>
<div class="container">
  <% if @documents.present? %>
    <div>
      <h1>
        <%= "#{Document.count} #{I18n.t('views.document').pluralize(@documents.count)}" %>
      </h1>
    </div>
    <div>
      <%= paginate @documents %>
    </div>
    <% @documents.each_with_index do |document, i| %>
      <div class="row">
        <hr/>
        <h3>- <%= i+1 %>: <%= link_to document.name, document.historical_account.url unless document.historical_account.url.nil? %></h3>
        <p>  <%= t('views.location') + ": " + document.location.to_s  %></p>
        <p> <%= t('views.ethnicity') + ": " + document.ethnicity.to_s %></p>
        <p> <%= t('views.period') + ": " +  document.period.to_s %></p>
        <p> <%= t('views.abastract') + ": " +  document.abstract.to_s %></p>
        <p> <%= t('views.description') + ": " +  document.description.to_s %></p>
        <hr/>
      </div>
    <% end %>
    <div>
      <%= paginate @documents %>
    </div>
  <% else %>
    <div>
      <% if @none == false %>
        <h2> <%= I18n.t('views.no_documents') %> </h2>
      <% end %>
    </div>
  <% end %>
</div>
