<% @title = I18n.t('views.documents') %>
<div>
  <%= render "search_form" %>
  <div>
    <h2>
  <% if @keywords.present?  %>
      <%= "\"#{@keywords}\" - #{@results.to_i} #{I18n.t('views.document').pluralize(@results.to_i)}" %>
    <% else  %>
      <%= "#{@documents.total_count} #{I18n.t('views.document').pluralize(@results.to_i)}" %>
    <% end  %>
    </h2>
  </div>
  <% if @documents.present? and @none == false %>
    <div>
      <%= paginate @documents %>
    </div>
    <% @documents.with_details.each do |document, article| %>
      <div class="document-box">
        <h3><%= link_to document.name, document.historical_account.url unless document.historical_account.url.nil? %></h3>
        <p>... <%= (article[:highlight][:content]).to_s.html_safe unless article.empty?  %> ... </p>
        <p><%= t('views.location') + ": " + document.location.to_s  %></p>
        <p><%= t('views.ethnicity') + ": " + document.ethnicity.to_s %></p>
        <p><%= t('views.period') + ": " +  document.period.to_s %></p>
        <p><%= t('views.abstract') + ": " +  document.abstract.to_s %></p>
        <p><%= t('views.description') + ": " +  document.description.to_s %></p>
        <hr>
      </div>
    <% end %>
    <div>
      <%= paginate @documents %>
    </div>
  <% else %>
    <div id="no_result">
      <% if @documents.empty? %>
        <h2> <%= I18n.t('views.no_document') %> </h2>
      <% else%>
        <div>
          <%= paginate @documents %>
        </div>
        <% @documents.each_with_index do |document, i| %>
          <div class="document-box">
            <h3><%= link_to document.name, document.historical_account.url unless document.historical_account.url.nil? %></h3>
            <p><%= t('views.location') + ": " + document.location.to_s  %></p>
            <p><%= t('views.ethnicity') + ": " + document.ethnicity.to_s %></p>
            <p><%= t('views.period') + ": " +  document.period.to_s %></p>
            <p><%= t('views.abstract') + ": " +  document.abstract.to_s %></p>
            <p><%= t('views.description') + ": " +  document.description.to_s %></p>
            <hr>
          </div>
        <% end %>
        <div>
          <%= paginate @documents %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
