<%= form_with(model: ethnicity, local: true) do |form| %>
  <% if ethnicity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ethnicity.errors.count, "error") %> prohibited this ethnicity from being saved:</h2>

      <ul>
      <% ethnicity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :ethnicity_name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :ethnicity_location %>
  </div>

  <div class="field">
    <%= form.label :explanation_pt %>
    <%= form.text_field :explanation_pt, id: :ethnicity_explanation_pt %>
  </div>

  <div class="field">
    <%= form.label :explanation_en %>
    <%= form.text_field :explanation_en, id: :ethnicity_explanation_en %>
  </div>

  <div class="field">
    <%= form.label :sources %>
    <%= form.text_field :sources, id: :ethnicity_sources %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
