<% @title = I18n.t('views.ethnicities') %>
<div>
  <h1>
    <%= "#{I18n.t('views.ethnicity')}" %>
  </h1>
</div>
<div class="alpha-pagination">
  <%= alphabetical_paginate @alphaParams %>
</div>
<% if @ethnicities.present? %>
  <% @ethnicities.each do |ethnicity| %>
    <div class="document-box">
      <h3><b><%= ethnicity.name %></h3> 
      <% if ethnicity.image.present? %> 
        <img  src="<%= ethnicity.image.url %>>
      <% end %> 
      <%= ethnicity.location %> - <i><%= ethnicity.explanation %></i>
      <hr/>
    </div>
  <% end %>
<% else %>
  <div>
    <% if @none == false %>
      <h2> <%= I18n.t('views.no_ethnicities') %> </h2>
    <% end %>
  </div>
<% end %>
<script>
$('.pagination > ul').click(function(e){
  console.log("clicked");
    location.reload()
        e.stopPropagation();
});
</script>
