<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ethnicity.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @ethnicity.location %>
</p>

<p>
  <strong>Explanation pt:</strong>
  <%= @ethnicity.explanation_pt %>
</p>

<p>
  <strong>Explanation en:</strong>
  <%= @ethnicity.explanation_en %>
</p>

<p>
  <strong>Sources:</strong>
  <%= @ethnicity.sources %>
</p>

<%= link_to 'Edit', edit_ethnicity_path(@ethnicity) %> |
<%= link_to 'Back', ethnicities_path %>
