/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
@import "social-share-button";
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc !important;
  margin: 1em 0;
  padding: 0; 
}

.document-box a{
color: #286090 !important;
}

h1, h2 {
//  text-align: center !important;
//  color: #286090;
}

strong {
  background-color: yellow !important; 
}

.alpha-pagination ul > li
{
  display:inline-block;
  padding:0px 10px;
}
