@font-face {
  font-family: "Apparatus Sil";
  src: url("apparatus-sil.ttf");
}

body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: "Apparatus Sil", verdana, arial, helvetica, sans-serif; 
  font-size: 1.5em;
  line-height: 27px;
}

p, ol, ul, td {
  font-family: "Apparatus Sil", verdana, arial, helvetica, sans-serif; 
  font-size: 1.2em;
  line-height: 27px;
}

pre {
  background-color: white;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: blue;
    background-color: #fff;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.navbar-inverse {
  color: white;
    background-color: #37bc9b;
    border-color: #000000;
}

@media (min-width: 500px){
    article{
      padding: 0 300px;
    }
  }

  .references{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: .8em;
  }

  .author{
    font-style:italic;
    padding-top:5px;
  }

  footer{
    padding: 20px;
    margin-bottom: 0px;
    background-color: #37bc9b;
    width:100%;
    
  }

  .navbar-inverse .navbar-nav > li > a {
    color: #ffffff !important;
  }

  .navbar-inverse .navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
  }


.right-item-menu{
  font-size: .8em;
}