<%#=
  render :partial => "layouts/form_habtm_tag", :locals => {
    :model_class => @document,
    :model_name => "document",
    :plural_model_name => "documents",
    :linked_model_name => "tag",
    :plural_linked_model_name => "tags",
    :namespace_bs => "admin",
    :field_to_search_for_linked_model => "name",
    :f => f
  }
  # Example to put in a _form.html.erb
%>
<% path_namespace = '/' + namespace_bs if not namespace_bs.blank? %>

<div class="form-group">
    <%= f.label plural_linked_model_name.to_sym, t(plural_linked_model_name.to_sym, :default => plural_linked_model_name.capitalize), :class => "control-label" %>
    <div>
        <ul class="bs-tagit" id="<%= model_name %>_<%= linked_model_name %>_ids" name="<%= model_name %>[<%= linked_model_name %>_ids][]" data-url="<%= path_namespace %>/<%= plural_linked_model_name %>/search_and_filter.json" data-param="q[<%= field_to_search_for_linked_model %>_cont]" data-result="caption">
          <% begin %>
            <% for elt in model_class.send(plural_linked_model_name) %>
            <li data-value="<%= elt.id %>"><%= elt.caption %></li>
            <% end %>
          <% rescue %>
          <% end %>
        </ul>
    </div>
</div>
