<ul class="nav navbar-nav fa-ul">
  <li><%= link_to t('views.documents'), search_path %></li>
  <li><%= link_to t('views.narratives'), narratives_path %></li>
  <li><%= link_to t('views.glossary'), glossaries_path %></li>
  <li><%= link_to t('views.ethnicity'), ethnicities_path %></li>
</ul>
<ul class="nav navbar-nav navbar-right fa-ul">
  <li id="item-menu-admin">
    <%= link_to rails_admin_path do %>
      <%= fa_icon "lock", text:"Admin" %>
    <% end %>
  </li>

  <%if @locale_alias != "PT"  %>
    <li class="menu-language">
      <%=  link_to "/", { locale: :"pt-BR" } do 
        fa_icon "language", text: "Em Português"
      end
    %>
  </li>
<% else %>
    <li class="menu-language">
      <%=  link_to "/?locale=en", { locale: :en } do 
        fa_icon "language", text: "English"
      end
    %>
  <% end %>
</ul>
