<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'KaririSapuya', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
        <%= render 'layouts/navigation_links' %>
    </div>
  </div>
</nav>
