<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Catamaran','application.css' %>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <% if  @title.present?  %>
      <title><%=  @title +  " - KaririSapuyá" %></title>
    <% else  %>
      <title><%=  "KaririSapuyá" %></title>
    <% end  %>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Kariri Sapuya" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <b><%= t('views.realization') %>:</b>
          </div>
          <div class="col-md-2">
            <%=link_to( image_tag("ufba.png", size: "80x80"), "http://www.fapesb.ba.gov.br", :target => "_blank" ) %>
          </div>
          <div class="col-md-2">
            <%=link_to( image_tag("pineb.png", size: "160x160"), "http://www.pineb.ffch.ufba.br", :target => "_blank" )%>
          </div>
          <div class="col-md-1">
            <b><%= t('views.support') %>:</b>
          </div>
          <div class="col-md-2">
            <%=link_to( image_tag("fapesb.png", size: "160x80"), "http://www.fapesb.ba.gov.br", :target => "_blank" ) %>
          </div>
        </div>
      </div>
    </footer>
    <script>
$(document).on('click','.navbar-collapse.in',function(e) {
  if( $(e.target).is('a') ) {
    $(this).collapse('hide');
  }
});
    </script>
  </body>
</html>
