<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nós estamos contactando você para avisar que seu email está sendo trocado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nós estamos contactando você para avisar que seu email foi trocado para <%= @resource.email %>.</p>
<% end %>
