<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou a troca de senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou a troca de senha, por favor ignore esse e-mail.</p>
<p>Sua senha não será trocada até que você acesse o link e a altere.</p>
