<p>Olá <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada devido ao número de tentativas.</p>

<p>Clique no link abaixo para despbloquear sua conta:</p>

<p><%= link_to 'Despbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
